{% extends 'base.html.twig' %}

{% block title %}Añadir usuario{% endblock %}

{% block body %}
    <h1 class="text-center">Crear nuevo usuario</h1>

    {{ include('user/_form.html.twig') }}
    <br>
    <a href="{{ path('user_index') }}">Volver atrás</a>
{% endblock %}
